<h1>Subscriptions</h1>

<%=link_to "Ads", services_ads_path  %>
<%= link_to "Subscriptions", services_subscriptions_path %>
<%= link_to "Packages", services_package_of_products_path %>
<%= link_to "Back",services_index_path %>
