<h1>Welcome to <em>Youcompare</em> - the first products price comparison website</h1>
<br />
<h3>For our User:</h3>
<p>We provide a wide range of categorised products that you can browse and compare their prices in many supplying shops.
  Our suppliers are the companies who make or sell those products. Hopefully you will enjoy our service!</p><br />
<h3>For our potential Client:</h3>
<p>If you are the shop/company interested in presenting your products here, please click on the <b>Register</b> button above
  and fill out the form provided with your details and we will come back to you as soon as possible.</p><br />
<p><em>Youcompare</em> Administrator</p>