<!--#-->
<!--#-->
<!--# @references Laptop_Shop_Tutorial_1 - Wesley Gorman-->
<!--#-->
<!--#-->

<h1>Thanks for your order!!!</h1>

<h2>Now You can add your products to our catalogue and sell them on our website</h2>
<%= link_to 'Add Product', products_path%>