<%= form_for(@package_of_product) do |f| %>
  <% if @package_of_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@package_of_product.errors.count, "error") %> prohibited this package_of_product from being saved:</h2>

      <ul>
      <% @package_of_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
