

<p id="notice"><%= notice %></p>

<h2>Your Cart</h2>
<ul>
  <% for item in @cart.line_items %>
      <li><%= item.quantity %> &times; <%= item.service.name %></li>
  <% end %>
</ul>


<%= link_to 'Back', store_url %>