

<p id="notice" ><%= notice %></p>


<h1> Our Services</h1>
<br/>
<div id="advert">
     <p> Advertise with Us</p>
    <%= link_to 'Adverts',advert_path %>
<br/>
</div>

<div id="subscriptions">
  <p>Our Subscription options</p>
<%= link_to 'Subscriptions', subscription_path %>
 </div>


<div id="package">
  <p> Packages of Product for every one</p>
<%= link_to 'Package of Products', package_of_product_path%>
</div>

